
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #e0e5ec;
}

div#board {
    box-shadow: .3rem .3rem .6rem lightgray, -.2rem -.2rem 1.8rem white;
}

.box {
    height: 120px;
    width: 120px;
    color: grey;
}

.bg-lightgrey {
    background-color: #e0e5ec;
}

.blue-gradient {
    background-image: linear-gradient(to right top, #0275d8, #5991de, #88ade4, #b4c9e8, #e0e5ec);
}

/* Class for shake effect */
.shake {
    animation: shake 1.5s ease infinite;
}

@keyframes shake {
    30% { transform: scale(1); }
    40%, 60% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    70% { transform: rotate(0deg); }
    100% { transform: scale(1); }
}

.my-text-lightg {
    color: #e0e5ec;
}

.my-text-neon {
    color: #FAFF00;
}

/* Class for spin effect */
.spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}